<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="color: black">
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
    </header>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.local-header.partial.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.about-tradition.partial.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.our-chefs.partial.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.formats.partial.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.contacts.partial.html"
    ></section>
    <footer
      class="footer"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
  </body>
</html>
